<ul class="countries-list">
    {{#each this}}
    <li class="countries-list__item">
        <img class="small-image" src="{{flag}}" alt="" width="40">
        <p>{{name}}</p>
    </li>
    {{/each}}
</ul>